*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

html {
  background-color: white;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100%;
}

.sidebar {
  height: 100%;

  border: 2px solid black;
}

header {
  --user-icon-size: 56px;
  --icon-button-size: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 20px 12px;
}

header > .user-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.user-info > div {
  font-size: 1.2rem;
  font-weight: bold;
}

.user-icon {
  height: var(--user-icon-size);
  width: var(--user-icon-size);
  border-radius: 50%;
}

.icon-button {
  height: var(--icon-button-size);
  width: var(--icon-button-size);
}

.content {
  border: 2px solid black;
}