*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  background-color: #f9f9f9;
  height: 100%;
}

body {
  --sidebar-background-color: white;
  --content-background-color: #efeeec;
  --task-background-color: white;
  --icon-button-size: 30px;

  display: grid;
  grid-template-columns: 400px 1fr;
  height: 100%;
}

.sidebar {
  --sidebar-gap: 16px;
  --user-icon-size: 56px;
  --title-icon-size: 36px;

  display: flex;
  flex-direction: column;
  gap: var(--sidebar-gap);

  height: 100%;
  background-color: var(--sidebar-background-color);
}

.sidebar-header-user {
  display: grid;
  grid-template-columns: var(--user-icon-size) 1fr var(--icon-button-size);
  align-items: center;
  gap: 6px;

  margin-top: calc(var(--sidebar-gap) * 1.5);
  padding: 0px 12px;
}

.user-icon {
  height: var(--user-icon-size);
  width: var(--user-icon-size);
  border-radius: 50%;
}

.username {
  font-size: 1.1rem;
  font-weight: bold;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--sidebar-background-color);
  border: none;
}

img.icon-button {
  height: var(--icon-button-size);
  width: var(--icon-button-size);
}

.project {
  display: grid;
  grid-template-columns: var(--title-icon-size) 1fr var(--icon-button-size);
  align-items: center;
  gap: 6px;

  margin-top: 6px;
  padding: 0px 12px;
}

.sidebar > hr {
  width: 96%;
  align-self: center;
}

.header-icon {
  height: var(--title-icon-size);
  width: var(--title-icon-size);
}

.sidebar h2 {
  font-size: 1.2rem;
}

.add-button > img {
  border-radius: 50%;
  border: 2px solid black;
}

.project-color {
  height: var(--icon-button-size);
  width: var(--icon-button-size);
  background-color: palegoldenrod;
  border-radius: 50%;
  border: 2px solid black;
}

.content {
  --content-gap: 12px;
  --task-padding: 20px;
  --checkbox-size: 22px;
  --subtask-padding: 10px;
  --subtask-left-margin: 45px;

  background-color: var(--content-background-color);
  padding: 88px 60px;
}

.project-content > *,
.new-task-btn {
  margin: var(--content-gap) 0;
}

.project-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.project-header > .project-color {
  --content-project-color-icon-size: 40px;
  height: var(--content-project-color-icon-size);
  width: var(--content-project-color-icon-size);
}

.project-header > h2 {
  font-size: 2rem;
}

.task {
  background-color: var(--task-background-color);
  border-radius: 8px;
  box-shadow: 3px 3px 5px -2px;

  padding: 18px 24px;
  margin: 22px 0;
}

.main-task {
  display: grid;
  grid-template-columns: var(--checkbox-size) 1fr var(--icon-button-size) var(--icon-button-size);
  align-items: center;
  gap: 12px;
}

.subtask {
  display: grid;
  grid-template-columns: var(--checkbox-size) 1fr var(--icon-button-size);
  align-items: end;
  gap: 12px;

  margin-left: var(--subtask-left-margin);
  padding: var(--subtask-padding) 0;
}

input[type="checkbox"] {
  height: var(--checkbox-size);
  width: var(--checkbox-size);
}

dialog {
  margin: auto;
  border-radius: 6px;
}

dialog > form {
  display: grid;
  grid-template-columns: fit-content(50px) 1fr;
  gap: 12px;
}

dialog > div {
  margin: 8px 0 24px 0;
  font-weight: 600;
}